{% extends 'base.html.twig' %}

{% block section %}

<div id="buttons" class="row justify-content-center" >
		
		<div class="col-md-2  text-center " style="margin: 5px; border:2px solid;padding: 3px;">
			<a href="" style="color: white;"> CASSIQUE</a>
		</div>
		<div class="col-md-2 text-center" style="margin: 5px;border:2px solid;padding: 3px;">
			<a href="" style="color: white;"> SPECIAUX</a>
		</div>
		<div class="col-md-2 text-center" style="margin: 5px;border:2px solid;padding: 3px;">
			<a href="" style="color: white;"> BURGERS</a>
		</div>
		<div class="col-md-2 text-center" style="margin: 5px;border:2px solid;padding: 3px;">
			<a href="" style="color: white;"> SALADES</a>
		</div>
		<div class="col-md-2 text-center" style="margin: 5px;border:2px solid;padding: 3px;">
			<a href="" style="color: white;"> ASSIETTES</a>
		</div>
		<div class="col-md-2 text-center" style="margin: 5px;border:2px solid;padding: 3px;">
			<a href="" style="color: white"> TACOS</a>
		</div>
		<div class="col-md-2 text-center" style="margin: 5px;border:2px solid;padding: 3px;">
			<a href="" style="color: white;"> PANINI</a>
		</div>
		<div class="col-md-2 text-center" style="margin: 5px;border:2px solid;padding: 3px;">
			<a href="" style="color: white;"> BARQUETTES</a>
		</div>
		<div class="col-md-2 text-center" style="margin: 5px;border:2px solid;padding: 3px;">
			<a href="" style="color: white;"> DESSERTS</a>
		</div>
		<div class="col-md-2 text-center" style="margin: 5px;border:2px solid;padding: 3px;">
			<a href="" style="color: white;"> BOISSONS</a>
		</div>
		
	</div>
	<div id="presentationMenu" style="width: 100%; background-color: lightgray">
		<div >
			<div >
				<h3 id="test" align="center">Page en construction</h3>
			</div>
			<div >
				<div class=" text-center">
					<h1 align="center">Patience les amis !!!</h1>
				</div>
			</div>
			<div>
				<h3 align="center">Page en construction</h3>
			</div>
		</div>
		
	</div>

{% endblock %}