{% extends '/standwich/menu.html.twig' %}

{% block menu %}
	
	<div class="row justify-content-center" style="background-color: gold; font-family: Jazz LET, fantasy">
		<h1>Les Assiettes</h1>
	</div>

	<!-- le Kebab -->
	<div class="row center-block" style="border: black 2px solid; padding: 20px">
			<div class="col-md-12 text-center my-auto"  >
				<h1 style="padding-top: 10px">Assiette Kebab</h1>
			</div>
			
		<div class="col-md-4 text-center my-auto "  >
			
			<img class="rounded-circle" src="/img/assiette-kebab.png" style="width: 220px; height: 200px;">
		</div>
		<div class="col-md-8 text-center my-auto" >
			<h5 >
				Le plus grand des classiques. Un sandwich garnie de crudité au choix, d'une sauce au choix et de  l’indétronable viande de Kebab.
			</h5>
			<h4>Irresistiblement Bon</h4>
		</div>
			
	</div>

	<!-- le Kebab -->
	<div class="row center-block" style="border: black 2px solid; padding: 20px">
			<div class="col-md-12 text-center my-auto"  >
				<h1 style="padding-top: 10px">Assiette Chiken</h1>
			</div>
			
		<div class="col-md-4 text-center my-auto "  >
			
			<img class="rounded-circle" src="/img/menu/assiette-chiken.jpeg" style="width: 220px; height: 200px;">
		</div>
		<div class="col-md-8 text-center my-auto" >
			<h5 >
				Le plus grand des classiques. Un sandwich garnie de crudité au choix, d'une sauce au choix et de  l’indétronable viande de Kebab.
			</h5>
			<h4>Irresistiblement Bon</h4>
		</div>
			
	</div>

	<!-- le Kebab -->
	<div class="row center-block" style="border: black 2px solid; padding: 20px">
			<div class="col-md-12 text-center my-auto"  >
				<h1 style="padding-top: 10px">Assiette Merguez</h1>
			</div>
			
		<div class="col-md-4 text-center my-auto "  >
			
			<img class="rounded-circle" src="/img/menu/assiette-merguez.jpg" style="width: 220px; height: 200px;">
		</div>
		<div class="col-md-8 text-center my-auto" >
			<h5 >
				Le plus grand des classiques. Un sandwich garnie de crudité au choix, d'une sauce au choix et de  l’indétronable viande de Kebab.
			</h5>
			<h4>Irresistiblement Bon</h4>
		</div>
			
	</div>

	<!-- le Kebab -->
	<div class="row center-block" style="border: black 2px solid; padding: 20px">
			<div class="col-md-12 text-center my-auto"  >
				<h1 style="padding-top: 10px">Assiette steak</h1>
			</div>
			
		<div class="col-md-4 text-center my-auto "  >
			
			<img class="rounded-circle" src="/img/menu/assiette-steak.jpg" style="width: 220px; height: 200px;">
		</div>
		<div class="col-md-8 text-center my-auto" >
			<h5 >
				Le plus grand des classiques. Un sandwich garnie de crudité au choix, d'une sauce au choix et de  l’indétronable viande de Kebab.
			</h5>
			<h4>Irresistiblement Bon</h4>
		</div>
			
	</div>

	<!-- le Kebab -->
	<div class="row center-block" style="border: black 2px solid; padding: 20px">
			<div class="col-md-12 text-center my-auto"  >
				<h1 style="padding-top: 10px">Assiette falafel</h1>
			</div>
			
		<div class="col-md-4 text-center my-auto "  >
			
			<img class="rounded-circle" src="/img/menu/assiette-falafel.jpg" style="width: 220px; height: 200px;">
		</div>
		<div class="col-md-8 text-center my-auto" >
			<h5 >
				Le plus grand des classiques. Un sandwich garnie de crudité au choix, d'une sauce au choix et de  l’indétronable viande de Kebab.
			</h5>
			<h4>Irresistiblement Bon</h4>
		</div>
			
	</div>

	<!-- le Kebab -->
	<div class="row center-block" style="border: black 2px solid; padding: 20px">
			<div class="col-md-12 text-center my-auto"  >
				<h1 style="padding-top: 10px">Assiette escalope</h1>
			</div>
			
		<div class="col-md-4 text-center my-auto "  >
			
			<img class="rounded-circle" src="/img/menu/assiette-escalope.png" style="width: 220px; height: 200px;">
		</div>
		<div class="col-md-8 text-center my-auto" >
			<h5 >
				Le plus grand des classiques. Un sandwich garnie de crudité au choix, d'une sauce au choix et de  l’indétronable viande de Kebab.
			</h5>
			<h4>Irresistiblement Bon</h4>
		</div>
			
	</div>

	<!-- le Kebab -->
	<div class="row center-block" style="border: black 2px solid; padding: 20px">
			<div class="col-md-12 text-center my-auto"  >
				<h1 style="padding-top: 10px">Assiette Cordon Bleu</h1>
			</div>
			
		<div class="col-md-4 text-center my-auto "  >
			
			<img class="rounded-circle" src="/img/menu/assiette-cordonbleu.jpg" style="width: 220px; height: 200px;">
		</div>
		<div class="col-md-8 text-center my-auto" >
			<h5 >
				Le plus grand des classiques. Un sandwich garnie de crudité au choix, d'une sauce au choix et de  l’indétronable viande de Kebab.
			</h5>
			<h4>Irresistiblement Bon</h4>
		</div>
			
	</div>
{% endblock %}