{% extends '/standwich/menu.html.twig' %}

{% block menu %}
	
	<div class="row justify-content-center" style="background-color: gold; font-family: Jazz LET, fantasy">
		<h1>Les Boissons</h1>
	</div>

	<!-- le Kebab -->
	<div class="row center-block" style="border: black 2px solid; padding: 20px">
			
			
		<div class="col-md-3 text-center my-auto "  >
			<h3> 1L5</h3>
			<img class="rounded-circle" src="/img/menu/cocacola.png" style="width: 220px; height: 200px;">
			<p><br> Coca-cola, Fanta, Sprite, Fustea</p>
		</div>
		<div class="col-md-3 text-center my-auto "  >
			<h3> 33cl</h3>
			<img class="rounded-circle" src="/img/menu/sprite.png" style="width: 220px; height: 200px;">
			<p><br> Coca-cola, Coca-cola zero, Coca-cola cherry, Fanta Orange, Fanta Citron, 7up Mokhito,
				Fustea péche, Tropico, Oasis Tropical, Shwepesse Agrum, Orangina, Caprisun, EVian
			</p>
		</div>
		
		<div class="col-md-3 text-center my-auto "  >
			<h3>Sirot</h3>
			<img class="rounded-circle" src="/img/menu/sirot.jpg" style="width: 220px; height: 200px;">
			<p>
				<br> Grenadine, Péche, Fraise, Citron, Melon, Menthe, Pomme, Kiwi, Mangue, Cerise, Framboise
			</p>
		</div>

		<div class="col-md-3 text-center my-auto "  >
			<h3>Caprisun</h3>
			<img class="rounded-circle" src="/img/menu/caprisun.png" style="width: 220px; height: 200px;">
		</div>
			
	</div>
{% endblock %}