{% extends '/standwich/menu.html.twig' %}

{% block menu %}
	<div class="row justify-content-center" style="background-color: gold; font-family: Jazz LET, fantasy">
		<h1>Les Burgers</h1>
					
	</div>
	<!-- le Cordon Bleu -->
	<div class="row center-block" style="border: black 2px solid; padding: 20px">
			<div class="col-md-12 text-center my-auto"  >
				<h1 style="padding-top: 10px">cheese</h1>
			</div>
			
		<div class="col-md-4 text-center my-auto"  >
			
			<img class="rounded-circle" src="/img/menu/cheese.jpg" style="width: 220px; height: 200px;">
		</div>
		<div class="col-md-8 text-center my-auto" >
			<h5 >
				Le plus grand des classiques de Nabab depuis 2003. Un pain sandwich accompagnant l’indétronable viande de Kebab ô combien irrésistible avec ses crudités.
			</h5>
		</div>
			
	</div>

	<!-- le Cordon Bleu -->
	<div class="row center-block" style="border: black 2px solid; padding: 20px">
			<div class="col-md-12 text-center my-auto"  >
				<h1 style="padding-top: 10px">cheese vegetarien</h1>
			</div>
			
		<div class="col-md-4 text-center my-auto"  >
			
			<img class="rounded-circle" src="/img/menu/vegetarien.jpeg" style="width: 220px; height: 200px;">
		</div>
		<div class="col-md-8 text-center my-auto" >
			<h5 >
				Le plus grand des classiques de Nabab depuis 2003. Un pain sandwich accompagnant l’indétronable viande de Kebab ô combien irrésistible avec ses crudités.
			</h5>
		</div>
			
	</div>

	<!-- le Cordon Bleu -->
	<div class="row center-block" style="border: black 2px solid; padding: 20px">
			<div class="col-md-12 text-center my-auto"  >
				<h1 style="padding-top: 10px">double cheese</h1>
			</div>
			
		<div class="col-md-4 text-center my-auto"  >
			
			<img class="rounded-circle" src="/img/menu/doublecheese.jpg" style="width: 220px; height: 200px;">
		</div>
		<div class="col-md-8 text-center my-auto" >
			<h5 >
				Le plus grand des classiques de Nabab depuis 2003. Un pain sandwich accompagnant l’indétronable viande de Kebab ô combien irrésistible avec ses crudités.
			</h5>
		</div>
			
	</div>

	<!-- le Cordon Bleu -->
	<div class="row center-block" style="border: black 2px solid; padding: 20px">
			<div class="col-md-12 text-center my-auto"  >
				<h1 style="padding-top: 10px">chiken burger</h1>
			</div>
			
		<div class="col-md-4 text-center my-auto"  >
			
			<img class="rounded-circle" src="/img/menu/chikenburger.jpg" style="width: 220px; height: 200px;">
		</div>
		<div class="col-md-8 text-center my-auto" >
			<h5 >
				Le plus grand des classiques de Nabab depuis 2003. Un pain sandwich accompagnant l’indétronable viande de Kebab ô combien irrésistible avec ses crudités.
			</h5>
		</div>
			
	</div>

	<!-- le Cordon Bleu -->
	<div class="row center-block" style="border: black 2px solid; padding: 20px">
			<div class="col-md-12 text-center my-auto"  >
				<h1 style="padding-top: 10px">fish burger</h1>
			</div>
			
		<div class="col-md-4 text-center my-auto"  >
			
			<img class="rounded-circle" src="/img/menu/fishburger.jpg" style="width: 220px; height: 200px;">
		</div>
		<div class="col-md-8 text-center my-auto" >
			<h5 >
				Le plus grand des classiques de Nabab depuis 2003. Un pain sandwich accompagnant l’indétronable viande de Kebab ô combien irrésistible avec ses crudités.
			</h5>
		</div>
			
	</div>

	<!-- le Cordon Bleu -->
	<div class="row center-block" style="border: black 2px solid; padding: 20px">
			<div class="col-md-12 text-center my-auto"  >
				<h1 style="padding-top: 10px">Royal burger</h1>
			</div>
			
		<div class="col-md-4 text-center my-auto"  >
			
			<img class="rounded-circle" src="/img/menu/royalburger.jpg" style="width: 220px; height: 200px;">
		</div>
		<div class="col-md-8 text-center my-auto" >
			<h5 >
				Le plus grand des classiques de Nabab depuis 2003. Un pain sandwich accompagnant l’indétronable viande de Kebab ô combien irrésistible avec ses crudités.
			</h5>
		</div>
			
	</div>

	<!-- le Cordon Bleu -->
	<div class="row center-block" style="border: black 2px solid; padding: 20px">
			<div class="col-md-12 text-center my-auto"  >
				<h1 style="padding-top: 10px">big king</h1>
			</div>
			
		<div class="col-md-4 text-center my-auto"  >
			
			<img class="rounded-circle" src="/img/menu/bigking.jpg" style="width: 220px; height: 200px;">
		</div>
		<div class="col-md-8 text-center my-auto" >
			<h5 >
				Le plus grand des classiques de Nabab depuis 2003. Un pain sandwich accompagnant l’indétronable viande de Kebab ô combien irrésistible avec ses crudités.
			</h5>
		</div>
			
	</div>

	<!-- le Cordon Bleu -->
	<div class="row center-block" style="border: black 2px solid; padding: 20px">
			<div class="col-md-12 text-center my-auto"  >
				<h1 style="padding-top: 10px">country</h1>
			</div>
			
		<div class="col-md-4 text-center my-auto"  >
			
			<img class="rounded-circle" src="/img/menu/countryburger.jpg" style="width: 220px; height: 200px;">
		</div>
		<div class="col-md-8 text-center my-auto" >
			<h5 >
				Le plus grand des classiques de Nabab depuis 2003. Un pain sandwich accompagnant l’indétronable viande de Kebab ô combien irrésistible avec ses crudités.
			</h5>
		</div>
			
	</div>
{% endblock %}