{% extends '/standwich/menu.html.twig' %}

{% block menu %}
	
	<div class="row justify-content-center" style="background-color: gold; font-family: Jazz LET, fantasy">
		<h1>Les Desserts</h1>
	</div>

	<!-- le Kebab -->
	<div class="row center-block" style="border: black 2px solid; padding: 20px">
			
			
		<div class="col-md-3 text-center my-auto "  >
			<h3>Tarte Daim</h3>
			<img class="rounded-circle" src="/img/menu/tartedaim.jpg" style="width: 220px; height: 200px;">
		</div>
		<div class="col-md-3 text-center my-auto "  >
			<h3>Tiramisu</h3>
			<img class="rounded-circle" src="/img/menu/tiramisu.jpg" style="width: 220px; height: 200px;">
		</div>
		
		<div class="col-md-3 text-center my-auto "  >
			<h3>Brownies</h3>
			<img class="rounded-circle" src="/img/menu/brownies.jpeg" style="width: 220px; height: 200px;">
		</div>

		<div class="col-md-3 text-center my-auto "  >
			<h3>Gateau oriental</h3>
			<img class="rounded-circle" src="/img/menu/gateauoriental.jpg" style="width: 220px; height: 200px;">
		</div>
			
	</div>
{% endblock %}