{% extends '/standwich/menu.html.twig' %}

{% block menu %}
	<div class="row justify-content-center" style="background-color: gold; font-family: Jazz LET, fantasy">
		<h1>Les Salades</h1>
					
	</div>
	<!-- le Cordon Bleu -->
	<div class="row center-block" style="border: black 2px solid; padding: 20px">
			<div class="col-md-12 text-center my-auto"  >
				<h1 style="padding-top: 10px">Classique</h1>
			</div>
			
		<div class="col-md-4 text-center my-auto"  >
			
			<img class="rounded-circle" src="/img/menu/saladeclassique.jpg" style="width: 220px; height: 200px;">
		</div>
		<div class="col-md-8 text-center my-auto" >
			<h5 >
				Le plus grand des classiques de Nabab depuis 2003. Un pain sandwich accompagnant l’indétronable viande de Kebab ô combien irrésistible avec ses crudités.
			</h5>
		</div>
			
	</div>

	<!-- le Cordon Bleu -->
	<div class="row center-block" style="border: black 2px solid; padding: 20px">
			<div class="col-md-12 text-center my-auto"  >
				<h1 style="padding-top: 10px">Niçoise</h1>
			</div>
			
		<div class="col-md-4 text-center my-auto"  >
			
			<img class="rounded-circle" src="/img/menu/nicoise.jpg" style="width: 220px; height: 200px;">
		</div>
		<div class="col-md-8 text-center my-auto" >
			<h5 >
				Le plus grand des classiques de Nabab depuis 2003. Un pain sandwich accompagnant l’indétronable viande de Kebab ô combien irrésistible avec ses crudités.
			</h5>
		</div>
			
	</div>

	<!-- le Cordon Bleu -->
	<div class="row center-block" style="border: black 2px solid; padding: 20px">
			<div class="col-md-12 text-center my-auto"  >
				<h1 style="padding-top: 10px">norvegienne</h1>
			</div>
			
		<div class="col-md-4 text-center my-auto"  >
			
			<img class="rounded-circle" src="/img/menu/saumon.png" style="width: 220px; height: 200px;">
		</div>
		<div class="col-md-8 text-center my-auto" >
			<h5 >
				Le plus grand des classiques de Nabab depuis 2003. Un pain sandwich accompagnant l’indétronable viande de Kebab ô combien irrésistible avec ses crudités.
			</h5>
		</div>
			
	</div>

	<!-- le Cordon Bleu -->
	<div class="row center-block" style="border: black 2px solid; padding: 20px">
			<div class="col-md-12 text-center my-auto"  >
				<h1 style="padding-top: 10px">cezar</h1>
			</div>
			
		<div class="col-md-4 text-center my-auto"  >
			
			<img class="rounded-circle" src="/img/menu/cezar.jpg" style="width: 220px; height: 200px;">
		</div>
		<div class="col-md-8 text-center my-auto" >
			<h5 >
				Le plus grand des classiques de Nabab depuis 2003. Un pain sandwich accompagnant l’indétronable viande de Kebab ô combien irrésistible avec ses crudités.
			</h5>
		</div>
			
	</div>

	<!-- le Cordon Bleu -->
	<div class="row center-block" style="border: black 2px solid; padding: 20px">
			<div class="col-md-12 text-center my-auto"  >
				<h1 style="padding-top: 10px">kebab</h1>
			</div>
			
		<div class="col-md-4 text-center my-auto"  >
			
			<img class="rounded-circle" src="/img/menu/saladekebab.jpg" style="width: 220px; height: 200px;">
		</div>
		<div class="col-md-8 text-center my-auto" >
			<h5 >
				Le plus grand des classiques de Nabab depuis 2003. Un pain sandwich accompagnant l’indétronable viande de Kebab ô combien irrésistible avec ses crudités.
			</h5>
		</div>
			
	</div>

	<!-- le Cordon Bleu -->
	<div class="row center-block" style="border: black 2px solid; padding: 20px">
			<div class="col-md-12 text-center my-auto"  >
				<h1 style="padding-top: 10px">chévre</h1>
			</div>
			
		<div class="col-md-4 text-center my-auto"  >
			
			<img class="rounded-circle" src="/img/menu/saladechevre.jpg" style="width: 220px; height: 200px;">
		</div>
		<div class="col-md-8 text-center my-auto" >
			<h5 >
				Le plus grand des classiques de Nabab depuis 2003. Un pain sandwich accompagnant l’indétronable viande de Kebab ô combien irrésistible avec ses crudités.
			</h5>
		</div>
			
	</div>
{% endblock %}