{% extends '/standwich/menu.html.twig' %}

{% block menu %}
	
	<div class="row justify-content-center" style="background-color: gold; font-family: Jazz LET, fantasy">
		<h1>Les Tacos</h1>
	</div>

	<!-- le Kebab -->
	<div class="row center-block" style="border: black 2px solid; padding: 20px">
			<div class="col-md-12 text-center my-auto"  >
				<h1 style="padding-top: 10px">Tacos 1 Viande</h1>
			</div>
			
		<div class="col-md-4 text-center my-auto "  >
			
			<img class="rounded-circle" src="/img/menu/tacos1.jpg" style="width: 220px; height: 200px;">
		</div>
		<div class="col-md-8 text-center my-auto" >
			<h5 >
				Le plus grand des classiques. Un sandwich garnie de crudité au choix, d'une sauce au choix et de  l’indétronable viande de Kebab.
			</h5>
			<h4>Irresistiblement Bon</h4>
		</div>
			
	</div>

	<div class="row center-block" style="border: black 2px solid; padding: 20px">
			<div class="col-md-12 text-center my-auto"  >
				<h1 style="padding-top: 10px">Tacos 2 Viandes</h1>
			</div>
			
		<div class="col-md-4 text-center my-auto "  >
			
			<img class="rounded-circle" src="/img/menu/tacos2.jpg" style="width: 220px; height: 200px;">
		</div>
		<div class="col-md-8 text-center my-auto" >
			<h5 >
				Le plus grand des classiques. Un sandwich garnie de crudité au choix, d'une sauce au choix et de  l’indétronable viande de Kebab.
			</h5>
			<h4>Irresistiblement Bon</h4>
		</div>
			
	</div>

	<div class="row center-block" style="border: black 2px solid; padding: 20px">
			<div class="col-md-12 text-center my-auto"  >
				<h1 style="padding-top: 10px">Tacos 3 Viandes</h1>
			</div>
			
		<div class="col-md-4 text-center my-auto "  >
			
			<img class="rounded-circle" src="/img/menu/tacos3.jpg" style="width: 220px; height: 200px;">
		</div>
		<div class="col-md-8 text-center my-auto" >
			<h5 >
				Le plus grand des classiques. Un sandwich garnie de crudité au choix, d'une sauce au choix et de  l’indétronable viande de Kebab.
			</h5>
			<h4>Irresistiblement Bon</h4>
		</div>
			
	</div>

	<div class="row center-block" style="border: black 2px solid; padding: 20px">
			<div class="col-md-12 text-center my-auto"  >
				<h1 style="padding-top: 10px">King Tacos</h1>
			</div>
			
		<div class="col-md-4 text-center my-auto "  >
			
			<img class="rounded-circle" src="/img/menu/tacos4.jpeg" style="width: 220px; height: 200px;">
		</div>
		<div class="col-md-8 text-center my-auto" >
			<h5 >
				Le plus grand des classiques. Un sandwich garnie de crudité au choix, d'une sauce au choix et de  l’indétronable viande de Kebab.
			</h5>
			<h4>Irresistiblement Bon</h4>
		</div>
			
	</div>

{% endblock %}